* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center; 
    gap: 20px;  
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.IMG-FOTOS {
    text-align: left;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
   
}

.IMG-FOTOS img {
    width: 100%;
    height: auto;
}

.IMG-FOTOS p {
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
}






